{% extends 'welcome.html' %}
{% load staticfiles %}

{% block link %}
    <link href="{% static 'graphpin/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
      <br/><br/><br/><br/>
      <form class="form-signin" role="form" action="." method="post">
        {% csrf_token %}
        <label>User name</label><br/>
        <input type="text" name="username" class="form-control" placeholder="User name" required autofocus><br/>
        <label>Password</label><br/>
        <input type="password" name="pwd" class="form-control" placeholder="Password" required><br/>
        <label>Email</label><br/>
        <input type="text" name="email" class="form-control" placeholder="Email address" required><br/>
        <label>Gender</label><br/>
        <label><input type="radio" name="gender" value="M">  Male </label>
        <label><input type="radio" name="gender" value="F">  Female </label><br/><br/>
        <label>Location</label><br/>
        <input type="text" name="location" class="form-control" placeholder="Location" required><br/><br/><br/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        {% if reg_fail %}<div class="alert alert-danger">The name has been used!</div>{% endif %}
      </form>
{% endblock %}


